.btn {
    background-color: #fcad26;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px #efa424;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 300px;
    letter-spacing: 2px;
    margin: 0 auto;
    outline: none;
    padding: 25px 80px;
    position: relative;
    text-transform: uppercase;
}

.btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
}